<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVL Tree Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div style="margin-bottom: 20px;">
        <button onclick="window.location.href='/'" style="padding: 10px 20px; font-size: 16px;">Back to Home</button>
    </div>
    <h1>AVL Tree Visualization</h1>
    <input id="nodeValue" type="number" placeholder="Enter node value">
    <button onclick="addNode()">Add Node</button>
    <button onclick="deleteNode()">Delete Node</button>

    <svg width="800" height="600" id="tree"></svg>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/tree_visualization.js') }}"></script>
</body>
</html>
